//common IR
.blind{
    position:absolute;
    width:1px;
    height:1px;
    overflow:hidden;
    border:0;
    clip:rect(1px, 1px, 1px, 1px);
}

.scroll-sticky{
    transition:all .5s ease-out;
    opacity:1;
    
    &.on{
        opacity:0
    }
}

//컨텐츠 inner
.inner{
    width:1024px;
    margin:0 auto;
}

//헤더
.common-header{
    position:fixed;
    top:0;
    left:0;
    z-index:50;
    overflow:hidden;
    width:100%;
    height:100px;
    border-bottom:1px solid #efefef;
    background:#fff;
    box-sizing:border-box;
    transition:all .3s ease-out;

    &:before{
        display:block;
        content:"";
        position:absolute;
        top:100px;
        left:0;
        width:100%;
        height:calc(100% - 100px);
        background:#fff;
        border-top:1px solid #efefef;
        box-sizing:border-box;
    }

    &.on{
        height:640px;
    }

    .logo{
        position:absolute;
        top:26px;
        left:40px;

        & a{
            display:inline-block;
            position:relative;
            @include spriteIR($icon-header-logo,190px,48px);
        }
    }

    .gnb{
        position:relative;
        width:1024px;
        margin:0 auto;
        padding-right:50px;
    }

    //헤더 메뉴 뎁스1
    .depth1{
        display:table;
        table-layout:fixed;
        width:100%;

        & > li{
            display:table-cell;
            text-align:center;

            & > a{
                display:block;
                font-size:18px;
                color:#333;
                font-weight:600;
                line-height:99px;
            }
        }
    }

    //헤더 메뉴 뎁스2
    .depth2{
        position:relative;
        z-index:50;
        padding-top:24px;

        & a{
            display:block;
            height:46px;
            font-size:16px;
            color:#666;
            font-weight:300;
            line-height:46px;

            &:hover{
                color:#149f5c;
                text-decoration:underline;
            }
        }
    }

    .direct{
        position:absolute;
        top:443px;
        left:0;
        z-index:50;

        & li{
            float:left;
            width:502px;
            height:172px;
            padding:35px 40px 0 40px;
            box-sizing:border-box;

            & a{
                display:inline-block;
                position:relative;
                padding-right:14px;
                margin-top:22px;
                font-size:16px;
                color:#666;
                font-weight:300;

                &:after{
                    display:block;
                    content:"";
                    position:absolute;
                    top:50%;
                    right:0;
                    margin-top:-5px;
                    @include sprite($icon-header-arrow-right);
                }
            }

            &.list1{
                border:1px solid #ddd;
                margin-right:18px;

                .heading{
                    font-size:18px;
                    color:#333;
                    font-weight:600;
                }

                .stock{
                    margin-top:8px;
                    font-weight:600;
                    font-family:'Montserrat', sans-serif;
                }

                .price{
                    font-size:30px;
                    color:#666;
                    vertical-align:middle;
                }

                .point{
                    position:relative;
                    padding-left:17px;
                    margin-left:20px;
                    font-size:22px;
                    color:#1c8ff0;
                    vertical-align:middle;

                    &:before{
                        display:block;
                        content:"";
                        position:absolute;
                        top:50%;
                        left:0;
                        margin-top:-5px; 
                        @include sprite($icon-header-stock-minus);
                    }
                }
            }

            &.list2{
                position:relative;

                & p{
                    position:relative;
                    font-size:24px;
                    color:#fff;
                    font-weight:300;
                    line-height:34px;
                }

                &:before{
                    display:block;
                    content:"";
                    position:absolute;
                    top:-40px;
                    left:0;
                    width:100%;
                    height:100%;
                    padding-bottom:40px;
                    background:url('../images/main/header-gnb-bg.png')no-repeat;
                }

                & a{
                    margin-top:26px;
                    color:#fff;

                    &:after{
                        @include sprite($icon-header-arrow2-right);
                    }
                }
            }
        }
    }

    .util{
        position:absolute;
        top:30px;
        right:40px;

        & ul{
            @include clear;
        }

        & li{
            float:left;
        }

        & a{
            display:inline-block;
            position:relative;
            height:40px;
            padding:0 15px 0 16px;
            font-size:15px;
            color:#888;
            font-weight:300;
            line-height:40px;

            &:before{
                display:block;
                content:"";
                position:absolute;
                top:50%;
                left:0;
                width:1px;
                height:13px;
                margin-top:-6px;
                background:#ddd;
            }
        }

        .search{

            & button{
                position:relative;
                @include hidden(48px,40px);

                &:after{
                    display:block;
                    content:"";
                    position:absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);
                    @include sprite($icon-header-search);
                }
            }
        }

        .news-feed{

            & button{
                width:130px;
                height:40px;
                border:1px solid #ddd;
                border-radius:30px;

                & span{
                    position:relative;
                    padding-left:25px;
                    font-size:15px;
                    color:#149f5c;
                    font-weight:300;
                    letter-spacing:-0.6px;

                    &:after{
                        display:block;
                        content:"";
                        position:absolute;
                        top:2px;
                        left:2px;
                        @include sprite($icon-header-newsfeed);
                    }
                }
            }
        }
    }
}

//푸터
.common-footer{
    position:relative;
    padding:60px 0 59px 0;
    text-align:center;
    
    .footer-logo{
        display:inline-block;
        position:relative;
        @include hidden(190px,48px);

        &:after{
            display:block;
            content:"";
            position:absolute;
            top:0;
            left:0;
            @include sprite($icon-footer-logo);
        }
    }

    .footer-nav{
        margin-top:31px;

        & li{
            display:inline-block;
            position:relative;
            padding-left:24px;
            margin-left:19px;

            &:before{
                display:block;
                content:"";
                position:absolute;
                top:50%;
                left:0;
                width:4px;
                height:4px;
                margin-top:-2px;
                background:#ddd;
                border-radius:50%;
            }

            &:first-child{
                padding-left:0;
                margin-left:0;

                &:before{
                    display:none;
                }
            }
        }

        & a{
            font-size:18px;
            color:#888;
            font-weight:300;
        }

        .point{
            font-weight:500;
        }
    }

    .address{
        margin-top:32px;

        & span{
            position:relative;
            font-size:16px;
            color:#888;
            font-weight:300;
            padding-left:11px;
            margin-left:10px;

            &:before{
                display:block;
                content:"";
                position:absolute;
                top:4px;
                left:0;
                width:1px;
                height:16px;
                background:#ddd;
            }

            &:first-child{
                padding-left:0;
                margin-left:0;

                &:before{
                    display:none;
                }
            }
        }
    }

    .copy{
        display:inline-block;
        margin-top:15px;
        font-size:14px;
        color:#bbb;
        font-weight:300;
        font-family:'Montserrat', sans-serif;
    }

    .select-wrap{
        position:absolute;
        top:60px;
        right:40px;
        width:285px;
        height:40px;
        
        
        .select{
            position:absolute;
            bottom:0;
            left:0;
            width:240px;
            height:40px;
            border:1px solid #ddd;
            background:#fff;
            font-size:15px;
            font-weight:300;
            text-align:left;  
            border-radius:20px; 
            box-sizing:border-box;                  
        }

        & button{
            position:absolute;
            bottom:0;
            width:240px;
            height:40px;
            padding-left:20px;
            font-size:16px;
            color:#333;
            box-sizing:border-box;
            text-align:left; 

            & span{
                display:inline-block;
                height:38px;
                letter-spacing:-0.6px;
                line-height:38px;
            }
            

            &:before{
                display:block;
                content:"";
                position:absolute;
                top:50%;
                right:17px;
                margin-top:-4px;
                @include sprite($icon-footer-select-arrow-up);
            }

            &:after{
                content:"열기";
                position:absolute;
                width:1px;
                height:1px;
                overflow: hidden;
                border:0;
                clip:rect(1px,1px,1px,1px);
            }
        }

        & ul{
            position:absolute;
            bottom:45px;
            height:0;
            width:100%;
            overflow-y:scroll;
            background:#fff;
            
            &.on{
                height:360px;
            }

            & a{
                display:block;
                padding-left:20px;
                line-height:36px;
                color:#555;
            }
        }

        .link-btn{
            float:right;
            width:40px;
            height:40px;            
            background:#333;     
            font-size:15px;       
            color:#fff;    
            font-weight:300;  
            line-height:40px;      
            border-radius:50%;
        }
    }



}

//top 버튼
.top-btn{
    position:fixed;
    right:0;
    bottom:0;

    & button{
        width:60px;
        height:60px;
        background:#d1d1d1;
        font-size:15px;
        color:#fff;
        font-weight:600;
        font-family:'Montserrat', sans-serif;
        display:none;
    }
}
