//슬라이더 공통 컨트롤 버튼

.slider-wrap{

    .ts-controls{
          
        .ts-paging{
    
            &-btn{
                display:inline-block;
                position:relative;
                @include hidden(30px,30px);
                background:url('../images/common/main-visual-slide-off.png')no-repeat;
            }
    
            &-active{
                background:url('../images/common/main-visual-slide-on.png')no-repeat;
            }
        }
    }
    
    .btn-prev{
        position:absolute;
        top:50%;
        left:40px;
        @include hidden(40px,79px);
        margin-top:-19px;
        background:url('../images/common/main-visual-slide-prev.png')no-repeat;
    }
    .btn-next{
        position:absolute;
        top:50%;
        right:40px;
        @include hidden(40px,79px);
        margin-top:-20px;
        background:url('../images/common/main-visual-slide-next.png')no-repeat;
    }
}




//메인 슬라이더
.main-banner{
    position:relative;
    
    .slider-wrap{
        position:relative;
    }

    .slider{
        position:relative;
        overflow:hidden;

        & ul{
            position:absolute;
            top:0;
            left:0;
            overflow:hidden;
        }

        & li{
            height:100vh;
        }

        & p{
            position:absolute;
            top:50%;
            left:50%;
            font-size:60px;
            color:#fbfbfb;
            font-weight:600;
            text-align:center;
            line-height:80px;
            letter-spacing:-1.2px;
            transform:translateX(-50%);
            opacity:0;
            transition:0.6s ease-out;
            transition-delay:0.4s;
            &.on{
                margin-top:-95px;
                opacity:1;
            }
        }

        // 메인배너 이미지
        @for $i from 1 through 3{
            .list#{$i}{
                background:url('../images/main/main-banner#{$i}.jpg')no-repeat;
                background-size:cover;
            }
        }
    }

    .ts-paging{
        position:absolute;
        top:calc(50% + 126px);
        left:calc(50% - 15px);
        height:30px;
        transform:translate(-50%,-50%);
        font-size:0;

        &-btn{
            margin:0 4px;
        }
    }

    .toggle-btn{
        position:absolute;
        top:calc(50% + 127px);
        left:calc(50% - -57px);
        z-index:5;
        transform:translate(-50%,-50%);
        font-size:0;

        & button{
            position:relative;
            @include hidden(30px,30px);

            &:after{
                display:block;
                content:"";
                position:absolute;
                top:9px;
                left:11px;
                width:9px;
                height:10px;
                background:url('../images/common/main-visual-slide-pause.png')no-repeat;
            }
                     
            &.on{
                &:after{
                    background:url('../images/common/main-visual-slide-play.png')no-repeat;
                }
            }
        }
    }

    .scroll-down{
        position:absolute;
        left:50%;
        bottom:0;
        z-index:5;
        padding-bottom:53px;
        font-size:14px;
        color:#fff;
        font-family:'Montserrat', sans-serif;
        font-weight:400;
        transform:translateX(-50%);

        &:after{
            display:block;
            content:"";
            position:absolute;
            bottom:0;
            left:50%;
            width:1px;
            height:50px;
            margin-left:-1px;
            background:#fff;
        }
    }
}

.recruit{
    
    .inner{
        position:relative;
    }

    .ts-paging{
        position:absolute;
        top:0;
        left:5%;
        font-size:0;

        &-btn{
            position:relative;        
            @include hidden(30px,30px);
            background:url('../images/common/main-recruit-slide-off.png')no-repeat;
        }

        &-active{
            background:url('../images/common/main-recruit-slide-on.png')no-repeat;
        }
    }
}